header
    .container
        a.logo Modus
            span versus
        nav#nav
            a(href="#") Home
            a(href="#") About
            a(href="#") Services
            a(href="#") Portfolio
            a(href="#") Blog
            a(href="#") Features
            a(href="#") Contacts
            a(href="#") 
                i(class="fa fa-search")

  